.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node text {
  stroke:#333;
  cursor:pointer;
}

.node.fixed {
  fill: #2c3e50;
}
