{% extends 'base.html' %} 
{% load static %}
{% block content %} 

{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}

<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-body">
      
      <h4>
        <span class="glyphicon glyphicon glyphicon-tags" aria-hidden="true"></span>
        &nbsp; Create / Assign Tags
      </h4>

      <hr style="border-color:inherit"/>

      <div id="file_div">
          <label for="file_path">File Path</label><br/>
          <div class="input-group">
             <span class="input-group-addon" id="user_dir" name="user_dir">{{ user_dir }}</span>
              <input type="text" class="form-control" name="file_path" id="file_path" placeholder="Enter Path Here ..." aria-describedby="user_dir">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="file_path_submit"> Go!</button>
              </span>
          </div>
          <div id="file_path_error" hidden="true">
              <h5 style="color:red"><b> &nbsp; Enter a valid File Path ! </b> </h5>
          </div>
          <br/>
          <div class="list-group" id="file_suggestions">
          </div>

         
      </div>
     
      <div id="tag_div"> 
          <label for="tag_search">Tags</label>
          <div class="input-group">
            <input type="text" class="form-control" name="tag_search" id="tag_search" placeholder="Enter Tags Here ...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" id="tag_search_submit">Assign</button>
            </span>
          </div>
          <br/>

          <div class="list-group" id="tag_suggestions">
          </div>
      </div>

  </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-body" id="suggestion_div">
      
      <h4>
          <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
          &nbsp; Most Popular Tags
          <button class="btn btn-primary" type="button" style="margin-left:50px" id="popular_assign_all"> 
              All &nbsp; <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span>
          </button>
      </h4>
      <hr style="border-color:inherit"/>

      <div id="most_popular_tags">
      {% for i in most_popular_tag_list %}
          <button class="btn btn-info" type="button" style="margin-bottom:10px" id=""> {{ i }} </button>
      {% endfor %}
      </div>

      
      <h4>
        <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
        &nbsp; Suggested Tags
        <button class="btn btn-primary" type="button" style="margin-left:70px" id="suggest_assign_all"> 
              All &nbsp; <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span>
        </button>
      </h4>
      <hr style="border-color:inherit"/>

      <div id="suggested_tags">
      
      </div>

    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-body" id="assign_div">

      <h4>
        <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
        &nbsp; Assigned Tags
      </h4>
      <hr style="border-color:inherit"/>

      <div id="assigned_tags">
      </div>

      <hr />
      <div class="row">
          <div class="col-md-6" style="text-align:center">
              <button class="btn btn-primary" type="button" id="refresh_all"> 
                  <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>  &nbsp; Refresh
              </button>
          </div>
          <div class="col-md-6" style="text-align:center">    
            <button class="btn btn-primary" type="button" id="assign_all"> 
                  <span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>  &nbsp; Assign  
            </button>
          </div>  
      </div>
    </div>

  </div>
</div>

<script>
$(document).ready(function(){
    $('#tag_div').find(":input").prop("disabled",true);
    $('#suggestion_div').find(":input").prop("disabled",true);
    $('#assign_div').find(":input").prop("disabled",true);
    $("#file_path_error").prop("hidden",true);

    if("{{file_path}}"!="None")
    {
      dct = {};
      dct['file_path'] = "{{file_path}}";
      $('#file_path').val("{{file_path}}");
      storeFilepathCall(dct);
    }
    
    window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
      });
    },5000);
});

function autocompleteFilePath(){
  var dct = {};dct = {'file_path': $( "#file_path" ).val()};
  $.ajax({
         url: "/tag/autoCompleteFilePath/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
          $("#file_suggestions").html(data);
         },
         error:function(data) {
             console.log(data.responseText)
             alert("error in getting from server")
         },
  });
};
  
function autocompleteTags(){  
  var dct = {}; dct['tag_search'] = $('#tag_search').val();
  $.ajax({
         url: "/tag/autoCompleteTags/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
         $('#tag_suggestions').html(data);
             //alert(data);
         },
         error:function(data) {
            console.log("Error:"+data.responsetext);
         },
  });
}
 
function refresh(){
  $("#file_path").val("");
  $("#tag_search").val("");

  $.ajax({
       url: "/tag/clearTagLists/",
       type: "POST",
       async: 'true',
       success: function(data) {
       $('#assigned_tags').html(data);
           //alert(data);
       },
       error:function(data) {
          console.log("Error:"+data.responsetext);
       },
    });
  $("#file_path").prop("disabled",false);
}

function focusOnEnd(){
  $("#file_path").focus();
  var strLength = $("#file_path").val().length;
  $("#file_path")[0].setSelectionRange(strLength, strLength);
}

//Handling auto-complete for tags
$("#tag_search").keyup(autocompleteTags);

//Assigning selected text to text-box
$("#tag_suggestions").on('click','.list-group-item', function(){
      selected_tag_val = $(this).text();
      $("#tag_search").val(selected_tag_val);
});

//Adding tag to assigned_tag bucket
$('#tag_search_submit').click(function(){
  dct = {};
  dct['tag'] = $('#tag_search').val();
  $.ajax({
         url: "/tag/maintainAssignedTags/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
          eval(data);
             //alert(data);
         },
         error:function(data) {
            console.log("Error:"+data.responsetext);
         },
      });
    $("#tag_search").val("");
    autocompleteTags();
});

//Handling auto-complete for filepaths
$("#file_path").keyup(autocompleteFilePath);

//Assigning selected text to text-box
$("#file_suggestions").on('click','.list-group-item', function(){
    var selected_val = $(this).text();
    var cur_val = $("#file_path").val();
    cur_val = cur_val.substring(0,cur_val.lastIndexOf("/")+1);
    var final_val = cur_val + selected_val + "/";
    $("#file_path").val(final_val);
    autocompleteFilePath();
    focusOnEnd();
});

function storeFilepathCall(dct)
{
  $.ajax({
         url: "/tag/storeFilePath/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
            eval(data);
            //console.log(data);
         },
         error:function(data) {
            console.log("Error:"+data.responsetext);
         },
      });
}

//Storing file-path in session variable
$('#file_path_submit').click(function(){
  dct = {};
  dct['file_path'] = "{{user_dir}}"+$('#file_path').val();
  
  storeFilepathCall(dct);
});

$('#popular_assign_all').click(function(){
  dct = {};
  dct['type'] = 'popular';
  $.ajax({
         url: "/tag/addAllToAssignedTags/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
            eval(data);
            
            console.log(data);
         },
         error:function(data) {
            console.log("Error:" + data.responsetext);
         },
  });
}); 

$('#suggest_assign_all').click(function(){
  dct = {};
  dct['type'] = 'suggest';
  $.ajax({
         url: "/tag/addAllToAssignedTags/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
            eval(data);
            console.log(data);
         },
         error:function(data) {
            console.log("Error:" + data.responsetext);
         },
      }); 
});

$('#assigned_tags').on('click','.btn',function(){
  dct={};
  dct['tag'] = $(this).attr("name");
  $.ajax({
         url: "/tag/removeAssignedTags/",
         type: "POST",
         data: dct,
         success: function(data) {
           eval(data);
            console.log(data);
         },
         error:function(data) {
            console.log("Error:" + data.responsetext);
         },
    });
});

$("#refresh_all").click(function(){
  location.href = "/tag/assignTags/";
});

$('#assign_all').click(function(){
  dct = {};
  $.ajax({
       url: "/tag/assignTagsToFile/",
       type: "POST",
       success: function(data) {
        location.href = "/tag/assignTags/";
       },
       error:function(data) {
          console.log("Error");
       },
  });
});

//Adding tag to assigned_tag bucket
$('#most_popular_tags').on('click','.btn',function(){
    dct = {};
    dct['tag'] = $(this).text();
    $.ajax({
       url: "/tag/maintainAssignedTags/",
       type: "POST",
       data: dct,
       async: 'true',
       success: function(data) {
          eval(data);
       },
       error:function(data) {
          console.log("Error:"+data.responsetext);
       },
    });
});

//Adding tag to assigned_tag bucket
$('#suggested_tags').on('click','.btn',function(){
    dct = {};
    dct['tag'] = $(this).text();
    $.ajax({
       url: "/tag/maintainAssignedTags/",
       type: "POST",
       data: dct,
       async: 'true',
       success: function(data) {
          eval(data);

       },
       error:function(data) {
          console.log("Error:"+data.responsetext);
       },
    });
});


function updateSuggestedTags()
{
  dct = {};
    $.ajax({
       url: "/tag/suggest/",
       type: "POST",
       data: dct,
       async: 'true',
       success: function(data) {
         eval(data);
       },
       error:function(data) {
          console.log("Error:"+data.responsetext);
       },
    });

}
</script>
{% endblock %}