{% extends 'base.html' %} 
{% load static %}
{% block content %} 
<meta charset="utf-8">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{% static 'js/ForceDirectedGraph.js' %}"></script>
<link href="{% static 'css/ForceDirectedGraph.css' %}" rel="stylesheet"/>

<div class="col-md-6" id="io_div">
	<div class="panel panel-info">
    	<div class="panel-body">
      		<div id="tag_div"> 
		          <label for="tag_search"><h3>Search Tags : </h3></label>
		          <div class="input-group">
		          <input type="text" class="form-control" name="tag_search" id="tag_search" placeholder="Enter Tags Here ...">
		            <span class="input-group-btn">
		              <button class="btn btn-primary" type="button" id="tag_search_submit">Search</button>
		            </span>
		          </div>
		          <br/>

		          <div class="list-group" id="tag_suggestions">
		          </div>
      		</div>
      	</div>
    </div>
    <div class="panel panel-info">
    	<div class="panel-body"> 
      		<div id="file_div">
      			<label><h3>Filtered Files : </h3></label>
      			<ul id="filtered_file_list" class="list-group"></ul>
		        <ul class="pager">
        	   		<li class="previous"><a href="" onclick="prevPage('search'); return false;"> « </a></li>
          	   	<li class="next"><a href="" onclick="nextPage('search'); return false;"> » </a></li>
        		</ul>
      		</div>
		</div>
	</div>
</div>
<div class="col-md-6" id="filter_div">
	<div class="panel panel-info">
    	<div class="panel-body"> 
	 			<label><h3>Selected Tags : </h3></label>
	 			<button class="btn btn-primary" type="button" id="filter_submit" style="float:right; margin-top:10px"> 
                  <span class="glyphicon glyphicon glyphicon-filter" aria-hidden="true"></span>  
        </button>
	 		<div id="selected_tag_div">
	 		</div>
	 		<div id="graph_div">
	 		</div>
	 	</div>
	</div>
</div>

<script>

function autocompleteTags(){  
  var dct = {}; 
  dct['tag_search'] = $('#tag_search').val();
  $.ajax({
         url: "/tag/autoCompleteTags/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
         	$('#tag_suggestions').html(data);
         },
         error:function(data) {
            console.log("Error:"+data.responsetext);
         },
  });
};

//Handling auto-complete for tags
$("#tag_search").keyup(autocompleteTags);

//Assigning selected text to text-box
$("#tag_suggestions").on('click','.list-group-item', function(){
    selected_tag_val = $(this).text();
    $("#tag_search").val(selected_tag_val);
});

//Drawing graph on tag search
$("#tag_search_submit").click(function(){
	dct = {};
  	dct['tag'] = $('#tag_search').val();
  	dct['action'] = 'add';
  	dct['empty_tag_list'] = 'true';
	  $.ajax({
         url: "/search/getGraphData/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
          	createGraph("#graph_div", jQuery.parseJSON(data));
         },
         error:function(data) {
            console.log("Error:"+data.responsetext);
         },
      });	
   	$("#tag_search").val("");
    autocompleteTags();
});

//Showing filtered files on filter
$("#filter_submit").click(function(){
	dct = {}
	$.ajax({
         url: "/search/getFilteredFiles/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
            createFileList("#filtered_file_list", jQuery.parseJSON(data), "search");       	
         },
         error:function(data) {
            console.log("Error:"+data.responsetext);
         },
	});
});

</script>

{% endblock %}