{% extends 'base.html' %} 
{% load static %}
{% block content %}
<meta charset="utf-8">
<div id="donut-charts">
</div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src={% static "js/home.js" %} charset="utf-8"></script>

<div class="col-md-4" style="float:right;">
  <div class="panel panel-info">
    <div class="panel-body">
      
      <h4>
        <span class="glyphicon glyphicon glyphicon-tags" aria-hidden="true"></span>
        &nbsp; Notifications
      </h4>

      <hr style="border-color:inherit"/>

      {% for n in new_files_list %}
      <div>
        <p> 
            <a>New file {{n.file_name}}</a> 
            <form action="/tag/assignTags" method="post">
            {% csrf_token %}
                <button id="default-assign" value="{{n.file_name}}/" name="file_path"> Auto Assign Tags</button>
                <button id="manual-assign" value="{{n.file_name}}/" name="file_path"> Manual Assign Tags</button>
            </form> 
      </div>
        
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
