{% extends 'base.html' %} 
{% load static %}
{% block content %}

{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}

<meta charset="utf-8">
<div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-body">
      <h4>
        <span class="glyphicon glyphicon glyphicon-stats" aria-hidden="true"></span>
        &nbsp; Tag Stats
      </h4>
      <hr style="border-color:inherit"/>
      <div id="donut-charts" style="text-align:center">
      </div>
    </div>
  </div>
</div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src={% static "js/home.js" %} charset="utf-8"></script>

<div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-body">
      
      <h4>
        <span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span>
        &nbsp; File Stats
      </h4>
      <hr style="border-color:inherit"/>
      <ul id="file_list" class="list-group"></ul>
      <ul class="pager">
          <li class="previous"><a href="" onclick="prevPage('home'); return false;"> « </a></li>
          <li class="next"><a href="" onclick="nextPage('home'); return false;"> » </a></li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">

var csrftoken = '{{ csrf_token }}';

// jquery extend function
$.extend({
    redirectPost: function(location, args)
    {
        var form = ''; 
        $.each( args, function( key, value ) {
            value = value.split('"').join('\"')
            form += '<input type="hidden" name="'+key+'" value="'+value+'">';
        });
        $('<form action="' + location + '" method="POST">'+ form + '</form>').appendTo($(document.body)).submit();
    }
});

$(document).ready(function(){
    createFileList("#file_list", jQuery.parseJSON("{{ file_list| escapejs }}"), "home");
});

$('#file_list').on('click','.list-group-item #manual_assign',function(){
    dct={};
    dct['file_path'] = $(this).attr("name") + "/";
    $.redirectPost("tag/assignTags/", dct);
});

$('#file_list').on('click','.list-group-item #auto_assign',function(){
  dct={};
  dct['auto_assign_file_path'] = $(this).attr("name") + "/";
  $.ajax({
         url: "/tag/autoAssign/",
         type: "POST",
         data: dct,
         async: 'true',
         success: function(data) {
           location.href = "/";
         },
         error:function(data) {
            console.log("Error:" + data.responsetext);
         },
    });
}); 
</script>

{% endblock %}
